.marker-cluster-small {
	background-color: rgba(255, 0, 0, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(256, 0, 0, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(255, 0, 0, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(256, 0, 0, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(255, 0, 0, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(256, 0, 0, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font-family: 'Source Code Pro', Arial, serif; font-weight: 400; 
	font-size:12px;
	}
.marker-cluster span {
	line-height: 30px;
	}